<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <head>
      <title>Attendance: error</title>
  </head>
  <body>
  
    <div layout:fragment="content">
    
      <div class="bs-component">
      
        <div>
          <p><strong>Throwable</strong></p>
          <p th:text="${throwable}"></p>
        </div>
        
        <div>
          <p><strong>Stack trace</strong></p>
          <p th:text="${stackTrace}"></p>
        </div>
        
      </div>
    </div>
  </body>
</html>